@font-face {
	font-family: ThaiSans;
	src: url(thaisanslite_r1.ttf);
}

@font-face {
	font-family: NillandBold;
	src: url(Nilland-Bold.ttf);
}

@font-face {
	font-family: CSChatThai;
	src: url(CSChatThaiUI.ttf);
}

@font-face {
	font-family: Sanchez;
	src: url(Sanchezregular.otf);
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
}

#container {
	width: 100%;
	height: 100%;
}

#header {
	width: 100%;
	height: 25%;
	position: absolute;
	float: left;
}

#content {
	width: 70%;
	height: 70%;
	position: absolute;
	top: 23%;
	padding-left: 15%;
	padding-right: 15%;
	float: left;

	font-family: CSChatThai;
}

#splashScreenLogo {
	position: absolute;
}

#splashScreenButton {
	position: absolute;
}

#splashScreenText {
	font-family: CSChatThai;
	position: absolute;
	text-align: justify;
}

.post {
	clear: both;
	width: 80%;
	padding-top: 2%;
	padding-bottom: 2%;
	overflow: auto;
	margin-top: 20px;
	background-color: #FFFFFF;
}

.postLeftColumn {
	float: left;
	width: 10%;
	overflow: auto;
	clear: both;
	text-align: center;
}

.postRightColumn {
	float: left;
	width: 85%;
	overflow: auto;
	cursor: pointer;
}

.postTitle {
	left: 23%;
	font-family: CSChatThai;
	font-size: 28px;
	overflow: auto;
	float: left;
	clear: both;
	color: #C62818;
}

.postSynopsis {
	left: 23%;
	top: 60px;
	width: 100%;
	font-family: CSChatThai;
	font-size: 18px;
	text-align: justify;
	margin-top: 8px;
	float: left;
	clear: both;
	line-height: 170%;
}

#mainContent {
	float: left;
	width: 75%;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: auto;
	background-color: #FFFFFF;
	min-height: 1px;
}

#sideBar {
	float: right;
	width: 20%;
	background-color: #FFFFFF;
	margin-top: 20px;
	overflow: auto;
	min-height: 1px;
	padding-top: 2%;
	padding-bottom: 2%;
}